
<html lang="en">
<head>
    <link rel="stylesheet" href="About.css">
</head>

<body class="light">
<main>
    <div class="pic"><img  src="./ASTROSTAT LOGO.png"/></div>
<div class="container">
  <h1 class="center-align">About</h1>
  <div class="row-left-align">
    <h3 id="mission">Mission</h3>
    <div class="col s12">
      <p>The main purpose of HASH Stats is to evaluate and present the current balance for any wallet address on the Hedera blockchain.Such a balance is calculated by adding the existing Hbar balance and the sum of values of all assets in that wallet. <br>
      <br></p>
    </div>
  
    <h3 id="goals">Goals</h3>
    <div class="col s12">
      <p>The primary goal for HASH Stats is to provide the best user experience and to continue leading the Hedera portfolio tracker category.</p><br>
      <h4>Real-time Data Refresh</h4>
      <p>Currently, users have to refresh an address page in order to receive the latest data. The development of real-time data refreshing and tracking is expected to take place either during or after token Launch.
      <h4>API Call Throttling</h4>
  <p>An automatic throttling/rate-limiting development will take place soon after, as it is one of the requirements for both business use and adoption of the HASHSTATS utility token. Such functionality implies the finished development and published documentation for the HASH Stats public application programming interface (API).</p>
  <h4>Wallet Bundles</h4>
  <p>The most requested feature among users has been the possibility to include and evaluate several addresses at once. From a technical requirements perspective, this feature dovetails with the development of API and so its implementation is expected around the same time. After that requirement is fulfilled, and the HASH Stats DAO has been established.</p>
      <br></p>
      <p>Please refer to and <a href="https://github.com/asastats/docs/blob/main/roadmap.md" target="_blank" rel="noopener" title="Read the ASA Stats Roadmap document">Roadmap</a> documents for more details.
      <br></p>
     </div>
  
  
     <div class="col s12">
      <a id="teknomics">
      <h4>TOKENOMICS</h4>
       <p>General Information HASH Stats Token is created with the following immutable properties:
       </a>
       <ul class="collection">
        <li class="collection-item">
          <b>Name:</b> HASH Stats Token
        </li>
        <li class="collection-item">
          <b>ID:</b> 393537671
        </li>
        <li class="collection-item">
          <b>Unit name:</b> HASHSTATS
        </li>
        <li class="collection-item">
          <b>Total supply:</b> 1,000,000,000
        </li>
        <li class="collection-item">
          <b>Decimals:</b> 6
        </li>
        <li class="collection-item">
          <b>URL:</b> https://www.hashstats.com
        </li>
        <li class="collection-item">
          <b>Clawback and freeze addresses are not set.</b>
        </li>
      </ul>
       <br></p>
       <div class="video-container">
        <iframe src="ASA%20Stats%20-%20About%20page_files/M8_dWMNWmCo.htm" title="ASA Stats - Introduction" allowfullscreen="" width="640" height="360" frameborder="0"></iframe>
       </div>
       <h4>Utility Token</h4>
       <p>HASH Stats Token (ID: <a href="https://algoexplorer.io/asset/393537671" target="_blank" rel="noopener" title="Go to AlgoExplorer">0.0.0.1</a>) is a utility token meant to be used for purchasing various professional services from HASH Stats.
       <br></p>
     </div>
  <h3>Token allocation</h3>
     <div class="col s12">
      <ul class="collection">
        <li class="collection-item">
        <h5>1) Development Pool (20%)</h5>
        <br>A total of 200,000,000 ASASTATS will be allocated to this pool
   for the purpose of funding the development of ASA Stats in the pre-DAO 
  phase. The funds from this pool will be used for the Team members' 
  salaries and for other development costs during the pre-DAO phase.<br>
        <p></p>
        <br>
        </li>
        <li class="collection-item">
        <h5>2) Administration and Costs (17%)</h5>
        <p>A total of 170,000,000 ASTRO STATS will be allocated to this pool for the establishment and administration of the legal entity behind ASTRO Stats, for purchasing and other costs for ASTRO Stats servers, for marketing expenses, for sponsoring community events, for outsourcing costs, for partnerships expenses, and for other expenses that will emerge during the pre-DAO phase.<br>
        </p>
        <br>
        </li>
        <li class="collection-item">
        <h5>3) Team Rewards (12%)</h5>
        <p>A total of 120,000,000 ASASTATS in 24 monthly batches of 
  5,000,000 ASASTATS will be allocated to the team members. If the Team 
  succeeds in transferring all responsibilities to DAO in a period shorter
   than 2 years, that fact won't change the influx of their rewards.<br>
        </p>
        <br>
        </li>
        <li class="collection-item">
        <h5>4) Community Rewards (15%)</h5>
        <p>A total of 150,000,000 HASHSTATS will be allocated to the 
  community members for the purpose of rewarding their contribution to the
   ASA Stats project, as well as for other activities in the official 
  channels and elsewhere. Such activities include channels administration,
   participation in games and lotteries, creation of NFTs, etc.<br>
        </p>
        <br>
        </li>
        <li class="collection-item">
        <h5>5) Airdrops (8%)</h5>
        <p>A total of 80,000,000 HASHSTATS will be allocated for the users 
  and community members, as well as to the potential users and community 
  members. The funds from this pool will be used for rewarding 
  contributions or other activities that are not easily measurable – if 
  they are measurable then pool 4 should be used instead.<br>
        </p>
        <br>
        </li>
        <li class="collection-item">
        <h5>6) Giveaways (3%)</h5>
        <p>A total of 30,000,000 HASHSTATS will be allocated for the purpose of attracting potential users. The main
  distinction and difference between this pool and pool 5 are in the rewarding process: while the airdrops are
  planned and scheduled, as well as always conducted directly from the related pool, a giveaway can be
  conducted by any trusted community member, and even by using that member as a proxy (this means that a
  community member may send a giveaway from their account and ask for compensation from this pool
  afterward).<br>
        </p>
        </li>
        <li class="collection-item">
        <h5>7) Burning (25%)</h5>
        <p>A total of 250,000,000 ASTROSTATS will be allocated for the purpose of burning, with the aim of increasing the value.
  Program for Burning
  In the long run, another important advantage of purchasing and storing ASTRO STATS
  is that the project will begin its burning programme.Which will be carried out in 5 phases, in each phase 5% of the total supply will be burnt. In a nutshell, this means 
  that the ASTRO STATS token supply will be steadily reduced by the ASTRO Stats team.
  In theory, this will have the desired effect of increasing the token price, as the 
  demand-supply ratio will shift more positively towards the former.
  Again, by getting into the ecosystem of ASTRO Stats early, you’ll be able to take 
  advantage of the burning program’s perks.
  ‘Burning’ may be somewhat be hard to grasp, so a fuller description of the program will 
  be provided below.<br>
        </p>
  <p>See below for a simple example of how token burning can impact the value of a 
  cryptocurrency:
  <ul>
  <li>
  Let’s suppose that a cryptocurrency project has 10 million tokens in circulation
  </li>
  <li>
  Each token has a market price of $1
  </li>
  <li>In turn, this means that the cryptocurrency has a total market capitalization of $10 million</li>
  <li>The team behind the cryptocurrency project implement a 5% token burn</li>
  <li>This means that the total token supply has gone from 10 million down to 9.5 million</li>
  <li>Based on a market capitalization of $10 million, this means that in all likelihood, the value of the token will increase to just over $1.05 - as per the forces of demand and supply</li>
  </ul>
  In terms of the specifics, some cryptocurrency projects will elect to facilitate their 
  burning strategy on an automated basis. 
  However, the team at ASTRO Stats argues that this is not an effective long-term burning 
  strategy. This is because an automated approach to burning cannot be undertaken 
  indefinitely. On the contrary, this eventually would result in the total supply of the 
  token reaching zero.
  This is why ASTRO Stats has made the decision to utilize a manual burning strategy. 
  Crucially, a burn will take place when conditions are favourable for the ASTRO Stats
  community.
  When the management team believes that it is the right time to burn an allocation 
  of tokens, this will be discussed in an open, fair, and transparent environment with 
  ASTRO Stats holders.</p>
        <br>
        </li>
      </ul>
    </div>
     
      <h3 id="people">The People behind ASA Stats</h3>
      <div class="col s12">
        <h4>Team</h4>
        <p>Afor and Onos
          </li>
        </ul>
        <h4>DAO Governors</h4>
        <p>The actual owners of this project are 50 (as on April 2022.) governors selected by the project founder in front of the Team.
        <br></p>
        <h4>ASA Stats Community</h4>
        <p>It is expected that the ASA Stats community becomes more involved in the future governor seat updates.
        <br></p>
       </div>
  </div>
  
    </div>
  </main>
</body>
  </html>